<nav>
  <h1 id="logo">
    <span>Collab</span>Tales
  </h1>
  <div class="nav-menu">
    <a href="#">
      Start a Story
    </a>
    <a href="#">
      My Stories
    </a>
    <a href="#">
      Logout
    </a>
  </div>
</nav>
