<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />

  <!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->



  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Hind:wght@400;600&family=Playfair+Display+SC:ital,wght@1,900&display=swap"
    rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

  <script type="text/javascript" src="/scripts/storiesIndex.js"></script>
</head>

<body>
  <%- include('partials/_header.ejs') %>
    <header id="banner">
    </header>
    <main class='story-preview-container'>
      <!-- <article class="story-preview">
        <header class="story-title">
          <a href="">This is the story title</a>
        </header>
        <p>
          This is the story content, the first line will be typed here to get the reader hooked. Until a certain limit
          is
          reached the story will show...
        </p>
        <footer>
          <button class="story-status">
            In Progress
          </button>
          <h4 class="user-handle-red">
            @userhandle
          </h4>
        </footer>
      </article>
      <article class="story-preview">
        <header class="story-title">
          <a href="">This is the story title</a>
        </header>
        <p>
          This is the story content, the first line will be typed here to get the reader hooked. Until a certain limit
          is
          reached the story will show...
        </p>
        <footer>
          <button class="story-status">
            In Progress
          </button>
          <h4 class="user-handle-red">
            @userhandle
          </h4>
        </footer>
      </article>
      <article class="story-preview">
        <header class="story-title">
          <a href="">This is the story title</a>
        </header>
        <p>
          This is the story content, the first line will be typed here to get the reader hooked. Until a certain limit
          is
          reached the story will show...
        </p>
        <footer>
          <button class="story-status">
            In Progress
          </button>
          <h4 class="user-handle-red">
            @userhandle
          </h4>
        </footer>
      </article>
      <article class="story-preview">
        <header class="story-title">
          <a href="">This is the story title</a>
        </header>
        <p>
          This is the story content, the first line will be typed here to get the reader hooked. Until a certain limit
          is
          reached the story will show...
        </p>
        <footer>
          <button class="story-status">
            In Progress
          </button>
          <h4 class="user-handle-red">
            @userhandle
          </h4>
        </footer>
      </article>
      <article class="story-preview">
        <header class="story-title">
          <a href="">This is the story title</a>
        </header>
        <p>
          This is the story content, the first line will be typed here to get the reader hooked. Until a certain limit
          is
          reached the story will show...
        </p>
        <footer>
          <button class="story-status">
            In Progress
          </button>
          <h4 class="user-handle-red">
            @userhandle
          </h4>
        </footer>
      </article>
      <article class="story-preview">
        <header class="story-title">
          <a href="">This is the story title</a>
        </header>
        <p>
          This is the story content, the first line will be typed here to get the reader hooked. Until a certain limit
          is
          reached the story will show...
        </p>
        <footer>
          <button class="story-status">
            In Progress
          </button>
          <h4 class="user-handle-red">
            @userhandle
          </h4>
        </footer>
      </article> -->
    </main>
</body>

</html>