@import 'layout';


main {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: $black;
}

.chapter-information {
  margin-top: 12vh;
  width: 35%;
  height: 90vh;
  background-image: url(https://preview.redd.it/dark-academia-aesthetic-architecture-europe-v0-7oogqx48mhba1.jpg?width=640&crop=smart&auto=webp&s=ea552866cd6cf9c64ec82e14d8998473ffe0c893);
  @include headings;
  color: $dun;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;

  button,
  a {
    text-decoration: none;
    @include button;
    margin: 0 1rem 1rem 2rem;
  }

  footer {
    height: 10%;
    background-color: $khaki;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.page-content {
  width: 65%;
  @include wrapper;
  padding-left: 2rem;
  margin-left: 35%;
  margin-top: 11vh;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  .story-text {
    height: 70%;
    overflow-y: scroll;
    padding-right: 2rem;
  }

  h2 {
    font-family: $playfair;
    color: $dun;
    font-size: 3rem;
    margin: 1.5rem 0 1rem 0;
  }

  .story-container {
    margin-top: 0;
    width: 100%;
    height: 42.5%;
    overflow-x: auto;
  }

  .story-scroll {
    display: flex;
    width: fit-content;
  }

  .story-preview {
    width: 100%;
    flex: 0 0 33.33%;
    margin-right: 1.5rem;
    background-color: $black;
    font-size: 1.5rem;
    border-radius: 10px;
    text-align: center;
    align-self: flex-end;

    header {
      height: 10%;
      background-color: $red;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      @include headings;
      text-align: center;
      padding-top: 1rem;
      animation: color;

      a:hover {
        @include color-on-hover;
      }
    }

    p {
      margin: 0 auto;
      padding: 0.5rem;
      background-color: $khaki;
      color: $black;
    }

    footer {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
      align-items: baseline;
      background-color: $khaki;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      height: 7rem;
    }

    .user-handle-red {
      @include user-handle-red;
    }

    .story-status {
      @include button;
    }

  }

}